.pcgf-dark-red {
    color: #8B0000;
    background-color: #FFFFFF
}

.pcgf-red {
    color: #FF0000;
    background-color: #FFFFFF
}

.pcgf-orange {
    color: #FFA500;
    background-color: #FFFFFF
}

.pcgf-brown {
    color: #A52A2A;
    background-color: #FFFFFF
}

.pcgf-yellow {
    color: #FFFF00;
    background-color: #FFFFFF
}

.pcgf-green {
    color: #008000;
    background-color: #FFFFFF
}

.pcgf-olive {
    color: #808000;
    background-color: #FFFFFF
}

.pcgf-cyan {
    color: #00FFFF;
    background-color: #FFFFFF
}

.pcgf-blue {
    color: #0000FF;
    background-color: #FFFFFF
}

.pcgf-dark-blue {
    color: #00008B;
    background-color: #FFFFFF
}

.pcgf-indigo {
    color: #4B0082;
    background-color: #FFFFFF
}

.pcgf-violet {
    color: #EE82EE;
    background-color: #FFFFFF
}

.pcgf-white {
    color: #FFFFFF;
    background-color: #000000
}

.pcgf-black {
    color: #000000;
    background-color: #FFFFFF
}